/* ==============================
   BACH SPORT — IDENTIDADE VISUAL
   ============================== */

:root {
    --orange: #ff7417;
    --black: #111111;
    --white: #ffffff;
    --gray-light: #f5f5f5;
    --gray: #666666;
}

/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--black);
}
